html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #e5e5e5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    padding: 30px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
}

.card-title {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container label {
    position: absolute;
    top: -8px;
    left: 45px; 
    padding: 0 5px;
    background-color: #ffffff;
    color: #757575;
    font-size: 11px;
    font-weight: 600;
}

.input-container .bx {
    position: absolute;
    top: 12px;
    padding-left: 15px;
    font-size: 25px;
    color: rgb(26, 158, 219);
}

.input-container .bx-show,
.input-container .bx-hide {
    display: none;
    top: 12px;
    right: 18px !important;
    background-color: #ffffff;
    z-index: 1;
    cursor: pointer;
}

.input-container input {
    padding: 15px 20px 15px 48px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    border: 1px solid #b0b0b0;
    width: 250px;
}

.input-container input:focus {
    outline-color: rgb(26, 158, 219);
}

.input-container input:focus ~ label {
    color: rgb(26, 158, 219);
}

.input-container input:focus ~ .bx {
    color: rgb(26, 158, 219);
}

.input-container input:focus ~ span {
    display: none;
}

.input-container span {
    font-size: 13px;
    font-weight: 600;
    color: rgb(247, 34, 34);
    padding-left: 5px;
    width: 310px;
    word-wrap: break-word;
}

button {
    margin-top: 5px;
    padding: 15px 0;
    font-size: 14px;
    border:none;
    border-radius: 20px;
    background-color: rgb(26, 158, 219);
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: rgb(17, 138, 194);
}

.input-error input {
    border: 2px solid rgb(247, 34, 34);
}

.input-error label {
    color: rgb(247, 34, 34);
}

.input-error .bx {
    color: rgb(247, 34, 34);
}

h5 {
    font-weight: 500;
    margin: 0;
    text-align: center;
    color: #494949;
}